[tool.poetry]
name = "labthings"
version = "0.5.1"
description = "Python implementation of LabThings, based on the Flask microframework"
readme = "README.md"
repository = "https://github.com/labthings/python-labthings/"
authors = ["jtc42 <jtc9242@gmail.com>"]
classifiers = [
    "Topic :: System :: Hardware",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Internet :: WWW/HTTP :: WSGI"
]

[tool.poetry.dependencies]
python = "^3.6"
Flask = "^1.1.1"
marshmallow = "^3.4.0"
webargs = "^6.0.0"
apispec = "^3.2.0"
flask-cors = "^3.0.8"
gevent = ">=1.4,<21.0"
gevent-websocket = "^0.10.1"
zeroconf = ">=0.24.5,<0.26.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = {version = "^19.10b0",allow-prereleases = true}
pytest-cov = "^2.8.1"
numpy = "^1.18.2"
jsonschema = "^3.2.0"

[tool.black]
exclude = '(\.eggs|\.git|\.venv)'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

